# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/chipotle.tsv).

In [ ]:
url = 'https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/chipotle.tsv'
df = pd.read_csv(url, sep = '\t')
print(df)

      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                                                   NaN     $2.39
1                                          [Clementine]     $3.39
2                                               [Apple]     $3.39
3                                                   NaN     $2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
...                                                 ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

[4622 rows x 5 columns]

### Step 3. Assign it to a variable called chipo.

In [ ]:
chipo = df

### Step 4. See the first 10 entries

In [ ]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [ ]:
# Solution 1
chipo.shape[0]

4622

In [ ]:
# Solution 2
chipo['order_id'].count()

np.int64(4622)

### Step 6. What is the number of columns in the dataset?

In [ ]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [ ]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [ ]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [ ]:
#chipo.groupby('item_name').sum().sort_values(['quantity'], ascending = False).head(1)

most_ordered_name = chipo.groupby('item_name')['quantity'].sum().idxmax()
print(most_ordered_name)

Chicken Bowl

### Step 10. For the most-ordered item, how many items were ordered?

In [ ]:
most_ordered_quantity = chipo.groupby('item_name')['quantity'].sum().max()
print(most_ordered_quantity)

761

### Step 11. What was the most ordered item in the choice_description column?

In [ ]:
most_ordered_choice = chipo.groupby('choice_description')['quantity'].sum().idxmax()
print(most_ordered_choice)

[Diet Coke]

### Step 12. How many items were orderd in total?

In [ ]:
num_unique_items = chipo['item_name'].nunique()
print(num_unique_items)

50

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [ ]:
chipo['item_price'].dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [ ]:
b = lambda x: float(x[1:-1])
chipo['item_price'] = chipo['item_price'].apply(b)

#### Step 13.c. Check the item price type

In [ ]:
chipo['item_price'].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [ ]:
revenue = (chipo['quantity'] * chipo['item_price']).sum()
print(revenue)

39237.02

### Step 15. How many orders were made in the period?

In [ ]:
num_orders = chipo['order_id'].nunique()
print(num_orders)

1834

### Step 16. What is the average revenue amount per order?

In [ ]:
# Solution 1
tb_per_order = revenue / num_orders
print(tb_per_order)

21.39423118865867

In [ ]:
# Solution 2

### Step 17. How many different items are sold?

In [ ]:
num_unique_items = chipo['item_name'].nunique()
print(num_unique_items)

50